html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

a, a:visited, a:active {
  color: white;
  text-decoration: none;
}

.App {
  width: 100%;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.Nav {
  position: fixed;
  width: 100%;
  height: 8vh;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5vw 0 0;
  z-index: 10;
  background-color: black;
  -webkit-box-shadow: 0 0 0.5vmin 0.1vmin #7e7e7e;
          box-shadow: 0 0 0.5vmin 0.1vmin #7e7e7e;
}

.Nav ul {
  width: 130px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
}

.Nav ul li {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav ul li a, .Nav ul li a:visited, .Nav ul li a:active {
  color: white;
}

.Nav ul li a svg, .Nav ul li a:visited svg, .Nav ul li a:active svg {
  color: white;
  height: 100%;
  width: 60%;
}

.Home {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.Home .container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .container span {
  color: white;
  font-size: 8vmin;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  margin: 0 1vmin;
  opacity: 0;
}

.Home .title {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Home .title span {
  color: white;
  font-size: 12vmin;
  font-family: 'Nunito', sans-serif;
  margin: 0 1vmin;
  opacity: 0;
}

.Home .title .beter {
  font-style: italic;
}

.Home .store-link {
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4vmin;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  padding: 2vmin 4vmin;
  border-radius: 5vmin;
  border: .5vmin solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-style: italic;
}

.Home .store-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.Home video {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media screen and (orientation: portrait) {
  .Home video {
    -webkit-transform: rotate(90deg) translate(-110%, 50%);
            transform: rotate(90deg) translate(-110%, 50%);
    min-width: 100vh;
    min-height: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.Cart {
  height: 100%;
  padding-top: 8vh;
}

.Store {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Plank {
  height: 100vh;
  width: 80%;
  font-family: 'Nunito', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Plank .plank-info {
  margin: auto 0;
  height: 60%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Plank .plank-name {
  font-size: 7vmin;
  width: 100%;
  text-align: center;
}

.Plank .plank-description {
  width: 80%;
  font-size: 2.5vmin;
}

.Plank .add-plank {
  margin: 0 auto;
  width: 20%;
  border: .5vmin solid black;
  padding: 2vmin 4vmin;
  border-radius: 5vmin;
  cursor: pointer;
}

.Plank .plank-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.Plank .plank-image img {
  width: 100%;
}

.drawer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 92vh;
  width: 20vw;
  min-width: 300px;
  border-right: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  color: white;
}

.drawer-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border: 1px solid white;
}

.drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.closed .ItemCard {
  display: none;
}

.ItemCard {
  height: 20vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2vmin;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
}

.ItemCard .item-image {
  height: 15vh;
}

.ItemCard .item-image img {
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */