// ------------------------------------- Resets -------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
	list-style-type: none;
}

a, a:visited, a:active {
	color: white;
	text-decoration: none;
}

// ------------------------------------- App -------------------------------------

.App {
	width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

// ------------------------------------- Nav -------------------------------------

.Nav {
	position: fixed;
	width: 100%;
	height: 8vh;
	top: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	padding: 0 5vw 0 0;
	z-index: 10;
	background-color: red;
	
	ul {
		width: 130px;
		display: flex;
		justify-content: space-between;
	}
}

// ------------------------------------------ Home View ----------------------------------------------

.Home {
	overflow: hidden;
	height: 100vh;
	width: 100vw;

	.container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container span {
		color: white;
		font-size: 8vmin;
		text-align: center;
		font-family: 'Nunito', sans-serif;
		margin: 0 1vmin;
		opacity: 0;
	}

	.title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		span {
			color: white;
			font-size: 12vmin;
			font-family: 'Nunito', sans-serif;
			margin: 0 1vmin;
			opacity: 0;
		}

		.beter {
			font-style: italic;
		}
	}

	.store-link {
		color: white;
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 4vmin;
		text-align: center;
		font-family: 'Nunito', sans-serif;
		padding: 2vmin 4vmin;
		border-radius: 5vmin;
		border: .5vmin solid white;
		box-sizing: border-box;
		opacity: 0;
		transition: all 300ms ease-in-out;
		font-style: italic;
	}
	
	.store-link:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}
	
	video {
		position: fixed;
		min-width: 100%;
		min-height: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 1200px) {
	.Home {
		video {
			left: auto;
			top: 0;
			right: 0;
			transform: translate(15%, 0%)
		}
	}
}

// ----------------------------------------- Cart --------------------------------------------

.Cart {
	height: 100%;
	padding-top: 8vh;
}

// --------------------------------------- Store view ------------------------------------------------

.Store {
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	left: 0;
}

.Plank {
	height: 92vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	font-family: 'Nunito', sans-serif;


	.plank-name{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		font-size: 10vmin;
	}

	.plank-description {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.plank-image {
		grid-column: 2 / 3;
		grid-row: 1 / -1;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 80%;
		}
	}

	.add-plank {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

// -------------------------------------- Drawer Styles ----------------------------------------------

.drawer-container {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 92vh;
	width: 20vw;
	min-width: 300px;
	border-right: 1px solid black;
	box-sizing: border-box;
	background-color: black;
	color: white;
}

.drawer-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	box-sizing: border-box;
	cursor: pointer;
	border: 1px solid rgb(255, 255, 255);
}

.drawer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: all 300ms ease-in-out;
}

.open {
	
	.ItemCard {
		//
	}
}

.closed {

	.ItemCard {
		display: none;
	}
}

.ItemCard {
	height: 20vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	border-radius: 2vmin;
	background-color: rgba($color: #ffffff, $alpha: .3);
	border: 1px solid black;

	.item-image {
		height: 15vh;

		img {
			height: 100%;
		}
	}
}