// ------------------------------------- Resets -------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
	list-style-type: none;
}

a, a:visited, a:active {
	color: white;
	text-decoration: none;
}

// ------------------------------------- App -------------------------------------

.App {
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

// ------------------------------------- Nav -------------------------------------

.Nav {
	position: fixed;
	width: 100%;
	height: 8vh;
	top: 0;
	box-sizing: border-box;
	z-index: 10;
	background-color: black;
	box-shadow: 0 0 .5vmin .1vmin rgb(126, 126, 126);
	position: relative;
	
	ul {
		position: absolute;
		right: 100px;
		width: 15vw;
		min-width: 140px;
		height: 100%;
		display: flex;
		justify-content: space-between;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			font-style: italic;
			font-weight: bold;
			overflow: hidden;
			width: 7vw;
			min-width: 70px;
			font-size: 15px;

			a, a:visited, a:active {
				color: white;
				display: flex;
				height: 100%;
				align-items: center;

				img {
					filter: invert(100%) sepia(4%) saturate(17%) hue-rotate(77deg) brightness(103%) contrast(105%);
					height: 50%;
					margin: auto;
				}
			}
		}
	}

	.CartSidePanel {
		width: 100px;
		height: 100vh;
		position: fixed;
		background-color: white;
		top: 0;
		right: -100px;
		box-shadow: 0 0 .5vmin .1vmin rgb(126, 126, 126);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;

		.subtotal {
			height: 8vh;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			padding-top: 1vmin;
			font-weight: bold;
			
			.text {
				font-size: 12px;
			}

			.total {
				font-size: 16px;
				color: rgb(199, 36, 36);
			}
		}

		img	{
			height: 5vh;
			margin: 2vmin auto;
		}
	}
}

// ------------------------------------------ Home View ----------------------------------------------

.Home {
	overflow: hidden;
	height: 100vh;
	width: 100vw;

	.container {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container span {
		color: white;
		font-size: 8vmin;
		text-align: center;
		font-family: 'Nunito', sans-serif;
		margin: 0 1vmin;
		opacity: 0;
	}

	.title {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);

		span {
			color: white;
			font-size: 12vmin;
			font-family: 'Nunito', sans-serif;
			margin: 0 1vmin;
			opacity: 0;
		}

		.beter {
			font-style: italic;
		}
	}

	.store-link {
		color: white;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 4vmin;
		text-align: center;
		font-family: 'Nunito', sans-serif;
		padding: 2vmin 4vmin;
		border-radius: 5vmin;
		border: .5vmin solid white;
		box-sizing: border-box;
		opacity: 0;
		transition: all 300ms ease-in-out;
		font-style: italic;
	}
	
	.store-link:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}
	
	video {
		position: fixed;
		min-width: 100vw;
		min-height: 100vh;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transform-origin: bottom left;
	}
}

@media screen  and (orientation: portrait) {
	.Home {
		video {
			transform: rotate(90deg) translate(-110%, 50%);
			min-width: 100vh;
			min-height: 100vw;
			object-fit: cover;
		}
	}
}

// ----------------------------------------- Cart --------------------------------------------

.Cart {
	height: 100%;
	padding-top: 8vh;
}

// --------------------------------------- Store view ------------------------------------------------

.Store {
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.Plank {
	height: 100vh;
	width: 80%;
	font-family: 'Nunito', sans-serif;
	display: flex;

	.plank-info {
		margin: auto 0;
		height: 60%;
		width: 40%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.plank-name{
		font-size: 7vmin;
		width: 100%;
		text-align: center;
	}

	.plank-description {
		// margin: auto;
		width: 80%;
		font-size: 2.5vmin;
	}
	
	.add-plank {
		margin: 0 auto;
		width: 20%;
		border: .5vmin solid black;
		padding: 2vmin 4vmin;
		border-radius: 5vmin;
		cursor: pointer;
	}

	.plank-image {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

}

// -------------------------------------- Drawer Styles ----------------------------------------------

.drawer-container {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 92vh;
	width: 20vw;
	min-width: 300px;
	border-right: 1px solid black;
	box-sizing: border-box;
	background-color: black;
	color: white;
}

.drawer-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	box-sizing: border-box;
	cursor: pointer;
	border: 1px solid rgb(255, 255, 255);
}

.drawer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: all 300ms ease-in-out;
}

.open {
	
	.ItemCard {
		//
	}
}

.closed {

	.ItemCard {
		display: none;
	}
}

.ItemCard {
	height: 20vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	border-radius: 2vmin;
	background-color: rgba($color: #ffffff, $alpha: .3);
	border: 1px solid black;

	.item-image {
		height: 15vh;

		img {
			height: 100%;
		}
	}
}