// ------------------------------------- Resets -------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
	list-style-type: none;
}

a, a:visited, a:active {
	color: white;
	text-decoration: none;
}

// --------------------------------- Variables ----------------------------------

* {
	--lightest: #D6DEE2;
	--light: #C2BAAD;
	--dark: #38302E;
	--orange: #F2542D;
	--blue: #18206F;
	--yellow: #FFBA08;
	--green: #003928;
}

// ------------------------------------- App -------------------------------------

.App {
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	font-family: 'Patrick Hand SC', cursive;

}

// ------------------------------------- Nav -------------------------------------

.Nav {
	position: fixed;
	width: 100%;
	height: 8vh;
	top: 0;
	box-sizing: border-box;
	z-index: 10;
	background-color: var(--yellow);
	position: relative;
	display: flex;
	justify-content: space-between;
	color: white;

	.logo {
		margin: auto auto auto 5vw;
		font-size: 28px;
		font-weight: bold;
	}
	
	ul {
		width: 15vw;
		min-width: 130px;
		height: 100%;
		display: flex;
		justify-content: space-around;
		margin: auto 10vw auto auto;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			font-style: italic;
			font-weight: bold;
			overflow: hidden;
			width: 50%;
			font-size: 18px;

			a, a:visited, a:active {
				color: white;
				display: flex;
				height: 100%;
				align-items: center;
			}
		}
	}

}
	
.CartSidePanel {
	width: 100px;
	height: 100vh;
	position: fixed;
	background-color: white;
	top: 0;
	right: -100px;
	box-shadow: 0 0 .5vmin .1vmin rgb(126, 126, 126);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	z-index: 11;

	.subtotal {
		height: 8vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding-top: 1vmin;
		font-weight: bold;
		
		.text {
			font-size: 12px;
		}

		.total {
			font-size: 16px;
			color: rgb(199, 36, 36);
		}
	}

	img	{
		height: 5vh;
		margin: 2vmin auto;
	}
}

// ------------------------------------------ Home View ----------------------------------------------

.Home {
	overflow: hidden;
	height: 100vh;
	width: 100vw;

	.container {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container span {
		color: white;
		font-size: 8vmin;
		text-align: center;
		margin: 0 1vmin;
		opacity: 0;
	}

	.title {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);

		span {
			color: white;
			font-size: 12vmin;
			margin: 0 1vmin;
			opacity: 0;
		}

		.beter {
			font-style: italic;
		}
	}

	.store-link {
		color: white;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 4vmin;
		text-align: center;
		padding: 2vmin 4vmin;
		border-radius: 5vmin;
		border: .5vmin solid white;
		box-sizing: border-box;
		opacity: 0;
		transition: all 300ms ease-in-out;
		font-style: italic;
	}
	
	.store-link:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}
	
	video {
		position: fixed;
		min-width: 100vw;
		min-height: 100vh;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transform-origin: bottom left;
	}
}

@media screen  and (orientation: portrait) {
	.Home {
		video {
			transform: rotate(90deg) translate(-115%, 50%);
			min-width: 100vh;
			min-height: 100vw;
			object-fit: cover;
		}
	}
}

// ----------------------------------------- Cart --------------------------------------------

.Cart {
	min-height: 50vh;
	padding-top: 8vh;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;

	.cart-title {
		width: 100%;
		text-align: center;
		margin: 0 auto 5vh auto;
		font-size: 20px;
		font-weight: bold;
	}

	.cart-total {
		width: 80%;
		margin: 10vh auto 5vh auto;
		display: flex;
		justify-content: center;

		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 0 1vmin;
		}
	}

	.CartItem {
		width: 80%;
		height: 10vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1vh auto;


		.item-name {
			width: 25%;
			text-align: center;
		}

		.item-price {
			flex-basis: 25%;
			text-align: center;
		}

		.item-image {
			width: 25%;
			height: 100%;
			display: flex;

			img {
				margin: auto;
				height: 80%;
			}
		}

		.remove-button {
			width: 25%;
			cursor: pointer;
		}
	}



}


// --------------------------------------- Store view ------------------------------------------------

.Store {
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-family: 'Nunito', sans-serif;
	background-color: black;
	background-image: url(../blackboard.jpg);
	background-size: 1000px;
	color: white;
}

.Plank {
	height: 100vh;
	width: 80%;
	display: flex;

	.plank-info {
		margin: auto 0;
		height: 60%;
		width: 35%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		font-family: 'Patrick Hand SC', cursive;
	}

	.plank-name{
		font-size: 5vmin;
		width: 100%;
		font-family: 'Homemade Apple', cursive;
	}

	.plank-description {
		width: 100%;
		font-size: 20px;
	}
	
	.add-plank {
		margin: 0 auto;
		width: 90px;
		border: .5vmin solid var(--yellow);
		padding: 2vmin 4vmin;
		border-radius: 5vmin;
		cursor: pointer;
		transition: all 300ms ease-in-out;
		text-align: center;
		font-size: 18px;
		color: white;
	}

	.add-plank:hover {
		background-color: var(--yellow);
	}


	.plank-image {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 65%;

		img {
			width: 100%;
		}
	}

}

// -------------------------------------- Drawer Styles ----------------------------------------------

.drawer-container {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 92vh;
	width: 20vw;
	min-width: 300px;
	border-right: 1px solid black;
	box-sizing: border-box;
	background-color: black;
	color: white;
}

.drawer-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	box-sizing: border-box;
	cursor: pointer;
	border: 1px solid rgb(255, 255, 255);
}

.drawer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: all 300ms ease-in-out;
}

.open {
	
	.ItemCard {
		//
	}
}

.closed {

	.ItemCard {
		display: none;
	}
}

.ItemCard {
	height: 20vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	border-radius: 2vmin;
	background-color: rgba($color: #ffffff, $alpha: .3);
	border: 1px solid black;

	.item-image {
		height: 15vh;

		img {
			height: 100%;
		}
	}
}

@media (max-width: 1025px) {

	.Nav {
		ul {
			margin: auto 5vw auto auto;
		}
	}

	.Plank {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
	
		.plank-info {
			margin: 12vh auto 0 auto;
			height: 30%;
			width: 90%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
	
		.plank-name{
			font-size: 6.5vmin;
			width: 100%;
			font-style: italic;
			text-align: center;
		}
	
		.plank-description {
			width: 100%;
			text-align: center;
		}
		
		.add-plank {
			margin: 0 auto;
			width: 90px;
			border: .5vmin solid var(--orange);
			padding: 2vmin 4vmin;
			border-radius: 5vmin;
			cursor: pointer;
			transition: all 300ms ease-in-out;
		}
	
		.add-plank:hover {
			background-color: var(--orange);
			color: white;
		}
	
	
		.plank-image {
			display: flex;
			height: 70%;
			justify-content: flex-start;
			align-items: center;
			overflow: hidden;
			width: 100%;
	
			img {
				width: 80%;
				margin: 5vh auto auto auto;
			}
		}
	
	}
}