html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

a, a:visited, a:active {
  color: white;
  text-decoration: none;
}

* {
  --orange: #F2542D;
  --blue: #18206F;
  --yellow: #FFBA08;
  --green: #003928;
  --red: #d22328;
  --red-orange: #cf3f1c;
}

.App {
  min-width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../blackmarble2.jpg);
  background-size: 1000px;
  color: white;
  font-family: 'Spectral SC', serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.menu-button {
  position: fixed;
  top: 2vh;
  left: 2vh;
  background-color: var(--orange);
  background-color: #5330c8;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 50;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  font-family: 'Spectral SC', serif;
  font-size: 16px;
}

.second {
  top: 12vh;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  30% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  45% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  30% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  45% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.menu-button:hover {
  -webkit-animation-name: wobble;
          animation-name: wobble;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.CartSidePanel {
  width: 100px;
  height: 100vh;
  position: fixed;
  background-color: white;
  top: 0;
  right: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  overflow-y: scroll;
}

.CartSidePanel .subtotal {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1vmin;
  font-weight: bold;
  color: black;
}

.CartSidePanel .subtotal .text {
  font-size: 12px;
}

.CartSidePanel .subtotal .total {
  font-size: 16px;
  color: #c72424;
}

.CartSidePanel img {
  height: 5vh;
  margin: 2vmin auto;
}

.CartSidePanel hr {
  width: 70%;
}

.Cart {
  min-height: 100vh;
  padding-top: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spectral SC', serif;
}

.Cart .cart-title {
  width: 100%;
  text-align: center;
  margin: 0 auto 5vh auto;
  font-size: 20px;
  font-weight: bold;
  font-size: 28px;
}

.Cart .cart-headers {
  width: 80%;
  height: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47% 24% 15% 1fr;
      grid-template-columns: 47% 24% 15% 1fr;
  margin: 1vh auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 3vmin;
}

.Cart .cart-headers .item-name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  border-bottom: .5vmin solid white;
  margin: auto 2vmin;
}

.Cart .cart-headers .item-price {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  border-bottom: .5vmin solid white;
  margin: auto 2vmin;
}

.Cart .cart-headers .item-quantity {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  border-bottom: .5vmin solid white;
  margin: auto 2vmin;
}

.Cart .cart-total {
  width: 80%;
  margin: 10vh auto 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Cart .cart-total h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 1vmin;
}

.Cart .checkout-button {
  background: var(--green);
  font-weight: bold;
  color: white;
  border-radius: 1vmin;
  padding: 2vmin 1vmin;
  margin-bottom: 5vh;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.Cart .CartItem {
  width: 80%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1vh auto;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.Cart .CartItem .item-name {
  width: 25%;
  text-align: left;
  padding-left: 5vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Cart .CartItem .item-price {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}

.Cart .CartItem .item-quantity {
  width: 15%;
  color: black;
}

.Cart .CartItem .item-quantity input {
  all: unset;
  width: 100%;
  border-radius: .5vmin;
  background-color: white;
  text-align: center;
}

.Cart .CartItem .item-image {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Cart .CartItem .item-image img {
  margin: auto;
  height: 80%;
}

.Cart .CartItem .remove-button {
  width: 15%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Cart .CartItem .remove-button i {
  cursor: pointer;
}

.Checkout {
  min-height: 100vh;
  padding-top: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Checkout .cart-total {
  width: 300px;
  margin: 5vmin 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bold;
  font-size: 20px;
}

.Checkout .final-checkout-button {
  width: 300px;
  padding: 2vmin;
  border-radius: 5px;
  margin: 5vmin 0;
  text-align: center;
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

.Checkout .checkout-form {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0.8vmin 0.2vmin #6e6e6e;
          box-shadow: 0 0 0.8vmin 0.2vmin #6e6e6e;
  height: 400px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: black;
}

.Checkout form {
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Checkout form h1 {
  font-weight: bold;
  font-size: 20px;
  padding: 2vmin 0;
}

.Checkout form label input {
  display: block;
  width: 200px;
  border: 1px solid #acacac;
  height: 30px;
}

.Store {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 700vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  scroll-behavior: smooth;
}

.store-title {
  position: relative;
  height: 100vh;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.title-border {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  height: 31.5vmin;
  width: 51.5vmin;
  border-radius: 50%;
  border: 1vmin solid white;
}

.title {
  color: black;
  font-size: 6vmin;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  background-color: white;
  height: 30vmin;
  width: 50vmin;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Spectral SC', serif;
}

.sub-title {
  font-size: 2vmin;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.see-plankjes-button {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 160px;
  padding: 2vmin;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-align: center;
  font-size: 24px;
  background-color: var(--orange);
  z-index: 10;
  white-space: nowrap;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.store-nav {
  position: fixed;
  bottom: 5vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 5vh;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.store-nav #active {
  background-color: white;
  height: 30px;
  width: 30px;
}

.store-nav .nav-circle {
  background-color: rgba(255, 255, 255, 0.7);
  height: 18px;
  width: 18px;
  border-radius: 50%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.Plank {
  height: 100%;
  width: 100vw;
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

.Plank .plank-info {
  margin: auto 0;
  height: 60%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  padding: 1vmin;
}

.Plank .plank-name {
  font-size: 5vmin;
  text-align: center;
  width: 100%;
  font-family: 'Spectral SC', serif;
  white-space: nowrap;
}

.Plank .plank-description {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 1.2em;
}

.Plank .added-plank {
  margin: 0 auto;
  width: 120px;
  padding: 2vmin;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  background-color: var(--green);
  font-family: 'Montserrat', sans-serif;
}

.Plank .plank-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 65%;
}

.Plank .plank-image img {
  max-width: 100%;
  max-height: 60vh;
}

.add-plank {
  margin: 0 auto;
  width: 120px;
  background-color: var(--yellow);
  color: white;
  padding: 2vmin;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  z-index: 10;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
}

.CustomPlank {
  height: 100vh;
  width: 100vw;
}

.CustomPlank .add-plank {
  font-size: 18px;
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.CustomPlank .walkthrough-container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3vmin 5vmin;
  border-radius: 2vmin;
  line-height: 1.5em;
  width: 280px;
}

.CustomPlank .walkthrough-container h1 {
  font-weight: bold;
}

.CustomPlank .walkthrough-container .ok-button {
  width: 80px;
  padding: 1vmin 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin: 5vh auto auto auto;
  cursor: pointer;
  background-color: var(--yellow);
}

.CustomPlank .walkthrough-container .ok-button:hover {
  -webkit-box-shadow: 0 0 .5vmin .1vmin black;
          box-shadow: 0 0 .5vmin .1vmin black;
}

.plank-container {
  width: 80vw;
  height: 60vh;
  position: absolute;
  top: 12vh;
  left: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plank-container #plank-image {
  max-width: 100%;
  max-height: 100%;
}

.Drawers {
  position: fixed;
  left: 0;
  top: 80vh;
  height: 20vh;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
}

.drawer-titles {
  position: absolute;
  top: -5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drawer-title {
  width: 20vw;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border-top-left-radius: 8vmin;
  border-top-right-radius: 8vmin;
  font-size: 12px;
}

.drawer-title:hover {
  height: 5.1vh;
}

.beer {
  background-color: rgba(255, 255, 255, 0.7);
}

.cheese {
  background-color: rgba(255, 255, 255, 0.65);
}

.meat {
  background-color: rgba(255, 255, 255, 0.6);
}

.snack {
  background-color: rgba(255, 255, 255, 0.55);
}

.bread {
  background-color: rgba(255, 255, 255, 0.5);
}

.drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.closed .ItemCard {
  display: none;
}

.draggable {
  position: absolute;
  height: 15vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.draggable img {
  height: 100%;
  max-width: 100%;
}

.draggable .delete-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vmin;
  width: 5vmin;
  top: 0;
  right: 0;
}

.draggable .delete-button i {
  display: none;
  color: var(--red);
}

.draggable:hover .delete-button i {
  display: inline;
}

.ItemCard {
  height: 20vh;
  width: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2vmin;
  cursor: pointer;
}

.ItemCard .item-image {
  height: 8vh;
}

.ItemCard .item-image img {
  height: 100%;
}

@media (max-width: 1025px) {
  .see-plankjes-button {
    font-size: 20px;
  }
  .add-plank {
    font-size: 18px;
  }
  .Plank {
    height: 92vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2vh auto auto auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Plank .plank-info {
    margin: 0 auto;
    padding: 6vh 0 0 0;
    height: 50%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Plank .plank-name {
    font-size: 6.5vmin;
    width: 100%;
    text-align: center;
  }
  .Plank .plank-description {
    width: 100%;
    text-align: center;
    font-size: 3vmin;
  }
  .Plank .plank-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    width: 90%;
    max-width: 600px;
  }
  .Plank .plank-image img {
    max-width: 100%;
    max-height: 80%;
    margin: auto auto auto auto;
  }
}

@media (max-width: 650px) {
  .Cart .CartItem {
    width: 90%;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Cart .CartItem .item-name {
    width: 25%;
    text-align: left;
    padding-left: 5vmin;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 12px;
  }
  .Cart .CartItem .item-price {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: center;
  }
  .Cart .CartItem .item-quantity {
    width: 15%;
    color: black;
  }
  .Cart .CartItem .item-quantity input {
    all: unset;
    width: 100%;
    border-radius: .5vmin;
    background-color: white;
    text-align: center;
  }
  .Cart .CartItem .item-image {
    width: 25%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Cart .CartItem .item-image img {
    margin: auto;
    height: 70%;
  }
  .Cart .CartItem .remove-button {
    width: 15%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Cart .CartItem .remove-button i {
    cursor: pointer;
  }
  .Checkout .cart-total {
    width: 90%;
    margin: 5vh 0;
  }
  .Checkout .final-checkout-button {
    width: 80%;
    padding: 2vmin;
    border-radius: 5px;
    margin: 5vmin 0;
    text-align: center;
    background-color: var(--orange);
    color: white;
    -webkit-box-shadow: 0 0 1vmin .2vmin black;
            box-shadow: 0 0 1vmin .2vmin black;
    cursor: pointer;
  }
  .Checkout .checkout-form {
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0.8vmin 0.2vmin #6e6e6e;
            box-shadow: 0 0 0.8vmin 0.2vmin #6e6e6e;
    height: auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Checkout form {
    margin: 5vh auto;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Checkout form h1 {
    font-weight: bold;
    font-size: 20px;
    padding: 2vmin 0;
  }
  .Checkout form label input {
    width: 100%;
    height: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */